html, body {
    height: 100%;
    width: 100%;
}
.navbar {
    backrgound-color: #23415C;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-default .navbar-nav li a{
    color: darkblue;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
    color: black;
}
.login-container {
    float: right;
}

.home{
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.home:before {
    content: '';
    position: absolute; 
    opacity: 0.4;
    background: url(windsor.jpg) no-repeat 0 50%; 
    width: 100%;
    height: 100%;
    z-index: -1;

}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
}

.padding{
    padding: 80px 0;
}

.padding img {
    width: 100%;
}

footer {
    width: 100%;
    background-color: #560c0c;
    padding: 5% 5% 10% 5%;
    color: white;
}
.fa{
    padding:15px;
    font-size:25px;
    color: #FFF;
}

.fa:hover{
    color:  #8A0829;
    text-decoration: none;
}

.icon{
    max-width: 200px;
}